### AM207 Final Project Fantasy Sport 
Team Members: Andy Shi, Hidenori Tanaka, Hyungmok Sun, Xingchi Dai

In [1]:
# Import some necessary packages
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("white")

import time
import timeit

import scipy.stats 
import pandas as pd
import pymc as pm

import numpy as np

/Users/xdai/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/xdai/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [37]:
# Import player/salary csvs
player_df = pd.read_csv('fantasy_stats_2016.csv')[['Player','PTS']]
player_df.head()

          Player   PTS
0     Quincy Acy   5.2
1   Jordan Adams   3.5
2   Steven Adams   8.0
3  Arron Afflalo  12.8
4  Alexis Ajinca   6.0

In [101]:
salary_df = pd.read_csv('salary.csv',header=1)[['Player','2015-16']]
salary_df = salary_df[salary_df['Player'] != "Player"]
salary_df = salary_df[salary_df['2015-16'] != "Salary"]
salary_df['2015-16'] = salary_df['2015-16'].map(lambda x: int(x.lstrip('$')))
salary_avg = pd.DataFrame(salary_df.groupby('Player')['2015-16'].mean())
salary_avg["Player"] = salary_avg.index
salary_avg = salary_avg.reset_index(drop=True)
salary_avg.head()

   2015-16          Player
0  2000000    Aaron Brooks
1  4171680    Aaron Gordon
2   452059      Aaron Gray
3   525093  Aaron Harrison
4    60000   Adonis Thomas

In [103]:
# Merge the two dfs into one 
df = player_df.merge(salary_df, on="Player" ,how='inner')
df = df[df['Player'] != "Player"]
df.head()

          Player   PTS  2015-16
0     Quincy Acy   5.2   981348
1   Jordan Adams   3.5  1404600
2   Steven Adams   8.0  2279040
3  Arron Afflalo  12.8  8000000
4  Alexis Ajinca   6.0  4300000

### Summary
Up to here, we have a clean dataframe containning player name, and "point per game". The next step is to do Simulated Anneali