### Data Cleanning

In [106]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("white")

import time
import timeit

import scipy.stats 
import pandas as pd
import pymc as pm

In [107]:
# This function is to conver the string into int
def Str2float(string):
    try:
        return float(string)
    except:
        return "NaN"

#### The following five blocks are game stats from 2011 to 2016. It has five columns:

* Visitor/Neutral: Guest Team
* PTS: Guest Team's score
* Home/Neutral: Host Team
* PTS.1: Host Team Score
* Year: the year of the game

In [193]:
#import 2011
game11_df = pd.read_csv('10-11game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game11_df['Year'] = 2011
game11_df['PTS'] = game11_df['PTS'].map(lambda x: Str2float(x))
game11_df['PTS.1'] = game11_df['PTS.1'].map(lambda x: Str2float(x))
game11_df = game11_df[game11_df['PTS'].map(lambda x: type(x) is float)]

In [194]:
game11_df.head()

     Visitor/Neutral  PTS            Home/Neutral PTS.1  Year
1         Miami Heat   80          Boston Celtics    88  2011
2    Houston Rockets  110      Los Angeles Lakers   112  2011
3       Phoenix Suns   92  Portland Trail Blazers   106  2011
4     Boston Celtics   87     Cleveland Cavaliers    95  2011
5  Charlotte Bobcats   86        Dallas Mavericks   101  2011

In [195]:
#import 2012
game12_df = pd.read_csv('11-12game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game12_df['Year'] = 2012
game12_df['PTS'] = game12_df['PTS'].map(lambda x: Str2float(x))
game12_df['PTS.1'] = game12_df['PTS.1'].map(lambda x: Str2float(x))
game12_df = game12_df[game12_df['PTS'].map(lambda x: type(x) is float)]

In [196]:
game12_df.head()

        Visitor/Neutral  PTS           Home/Neutral PTS.1  Year
1            Miami Heat  105       Dallas Mavericks    94  2012
2  Los Angeles Clippers  105  Golden State Warriors    86  2012
3         Chicago Bulls   88     Los Angeles Lakers    87  2012
4        Boston Celtics  104        New York Knicks   106  2012
5         Orlando Magic   89  Oklahoma City Thunder    97  2012

In [197]:
#import 2013
game13_df = pd.read_csv('12-13game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game13_df['Year'] = 2013
game13_df['PTS'] = game13_df['PTS'].map(lambda x: Str2float(x))
game13_df['PTS.1'] = game13_df['PTS.1'].map(lambda x: Str2float(x))
game13_df = game13_df[game13_df['PTS'].map(lambda x: type(x) is float)]

In [198]:
game13_df.head()

      Visitor/Neutral  PTS         Home/Neutral PTS.1  Year
1  Washington Wizards   84  Cleveland Cavaliers    94  2013
2    Dallas Mavericks   99   Los Angeles Lakers    91  2013
3      Boston Celtics  107           Miami Heat   120  2013
4    Sacramento Kings   87        Chicago Bulls    93  2013
5     Houston Rockets  105      Detroit Pistons    96  2013

In [199]:
#import 2014
game14_df = pd.read_csv('13-14game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game14_df['Year'] = 2014
game14_df['PTS'] = game14_df['PTS'].map(lambda x: Str2float(x))
game14_df['PTS.1'] = game14_df['PTS.1'].map(lambda x: Str2float(x))
game14_df = game14_df[game14_df['PTS'].map(lambda x: type(x) is float)]

In [200]:
game14_df.head()

        Visitor/Neutral  PTS         Home/Neutral PTS.1  Year
1         Orlando Magic   87       Indiana Pacers    97  2014
2  Los Angeles Clippers  103   Los Angeles Lakers   116  2014
3         Chicago Bulls   95           Miami Heat   107  2014
4         Brooklyn Nets   94  Cleveland Cavaliers    98  2014
5         Atlanta Hawks  109     Dallas Mavericks   118  2014

In [201]:
#import 2015
game15_df = pd.read_csv('14-15game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game15_df['Year'] = 2015
game15_df['PTS'] = game15_df['PTS'].map(lambda x: Str2float(x))
game15_df['PTS.1'] = game15_df['PTS.1'].map(lambda x: Str2float(x))
game15_df = game15_df[game15_df['PTS'].map(lambda x: type(x) is float)]

In [202]:
game15_df.head()

    Visitor/Neutral  PTS          Home/Neutral PTS.1  Year
1   Houston Rockets  108    Los Angeles Lakers    90  2015
2     Orlando Magic   84  New Orleans Pelicans   101  2015
3  Dallas Mavericks  100     San Antonio Spurs   101  2015
4     Brooklyn Nets  105        Boston Celtics   121  2015
5   Milwaukee Bucks  106     Charlotte Hornets   108  2015

In [203]:
#import 2016
game16_df = pd.read_csv('15-16game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game16_df['Year'] = 2016
game16_df['PTS'] = game16_df['PTS'].map(lambda x: Str2float(x))
game16_df['PTS.1'] = game16_df['PTS.1'].map(lambda x: Str2float(x))
game16_df = game16_df[game16_df['PTS'].map(lambda x: type(x) is float)]

In [204]:
game16_df.head()

        Visitor/Neutral  PTS           Home/Neutral PTS.1  Year
1       Detroit Pistons  106          Atlanta Hawks    94  2016
2   Cleveland Cavaliers   95          Chicago Bulls    97  2016
3  New Orleans Pelicans   95  Golden State Warriors   111  2016
4    Philadelphia 76ers   95         Boston Celtics   112  2016
5         Chicago Bulls  115          Brooklyn Nets   100  2016

#### The player's team information. It has two columns
* Player: the Name of Player
* Tm: The team the player belongs to

In [124]:
#import name and their teams 
playerTeam_df = pd.read_csv('salary.csv', header = 1)[['Player','Tm']]
playerTeam_df = playerTeam_df[playerTeam_df['Tm'] != 'Tm']
playerTeam_df = playerTeam_df[playerTeam_df['Player'] != 'Player']
playerTeam_df = playerTeam_df[~pd.isnull(playerTeam_df['Player'])]

In [126]:
playerTeam_df.head()

            Player                   Tm
0      Kobe Bryant   Los Angeles Lakers
1      Joe Johnson        Brooklyn Nets
2     LeBron James  Cleveland Cavaliers
3  Carmelo Anthony      New York Knicks
4    Dwight Howard      Houston Rockets

#### The salary information for each player
* 2015-2016: The salary in the year 15 - 16
* Player: Name

In [139]:
salary_df = pd.read_csv('salary.csv',header=1)[['Player','2015-16']]
salary_df = salary_df[salary_df['Player'] != "Player"]
salary_df = salary_df[salary_df['2015-16'] != "Salary"]
salary_df['2015-16'] = salary_df['2015-16'].map(lambda x: int(x))
salary_df = pd.DataFrame(salary_df.groupby('Player')['2015-16'].mean())
salary_df["Player"] = salary_df.index
salary_df = salary_df.reset_index(drop=True)
salary_df.head()

   2015-16          Player
0  2000000    Aaron Brooks
1  4171680    Aaron Gordon
2   452059      Aaron Gray
3   525093  Aaron Harrison
4    60000   Adonis Thomas

#### The following data frames are for Simulated Annealing

In [141]:
# Import player/salary csvs
player_df = pd.read_csv('fantasy_stats_2016.csv')[['Player','PTS']]
player_df = player_df[player_df['PTS'] != "PTS"]
player_df['PTS'] = player_df['PTS'].map(lambda x: float(x))
player_df = pd.DataFrame(player_df.groupby('Player')['PTS'].mean())
player_df["Player"] = player_df.index
player_df = player_df.reset_index(drop=True)
player_df.head()
# Merge the two dfs into one 
df_perGame = player_df.merge(salary_df, on="Player" ,how='inner')
df_perGame = df_perGame[df_perGame['Player'] != "Player"]
df_perGame.head()

    PTS          Player   2015-16
0   7.1    Aaron Brooks   2000000
1   9.2    Aaron Gordon   4171680
2   0.9  Aaron Harrison    525093
3   2.5   Adreian Payne   1938840
4  15.2      Al Horford  12000000

In [144]:
# Import player/salary csvs
player_df2 = pd.read_csv('15-16Per100Pos_stats.csv')[['Player','PTS']]
player_df2 = player_df2[player_df2['PTS'] != "PTS"]
player_df2['PTS'] = player_df2['PTS'].map(lambda x: float(x))
player_df2 = pd.DataFrame(player_df2.groupby('Player')['PTS'].mean())
player_df2["Player"] = player_df2.index
player_df2 = player_df2.reset_index(drop=True)
player_df2.head()
# Merge the two dfs into one 
df_100 = player_df2.merge(salary_df, on="Player" ,how='inner')
df_100 = df_100[df_100['Player'] != "Player"]
df_100.head()

    PTS          Player   2015-16
0  22.2    Aaron Brooks   2000000
1  19.3    Aaron Gordon   4171680
2   9.7  Aaron Harrison    525093
3  13.7   Adreian Payne   1938840
4  23.5      Al Horford  12000000

#### The following blocks are offensive/defensive points for each player[from per 100 possessions]
* Player: Name
* ORtg: Offensive Rating 
* DRtg: Defensive Rating

In [191]:
#offensive Rating
player_df2 = pd.read_csv('15-16Per100Pos_stats.csv')[['Player','ORtg']]
player_df2 = player_df2[player_df2['ORtg'] != "ORtg"]
player_df2 = player_df2[~pd.isnull(player_df2['ORtg'])] 
player_df2['ORtg'] = player_df2['ORtg'].map(lambda x: int(x))
player_df2 = pd.DataFrame(player_df2.groupby('Player')['ORtg'].mean())
player_df2["Player"] = player_df2.index
player_df2 = player_df2.reset_index(drop=True)
player_df2.head()

   ORtg          Player
0    99    Aaron Brooks
1   114    Aaron Gordon
2    77  Aaron Harrison
3    81   Adreian Payne
4   113      Al Horford

In [192]:
#defensive Rating
player_df2 = pd.read_csv('15-16Per100Pos_stats.csv')[['Player','DRtg']]
player_df2 = player_df2[player_df2['DRtg'] != "DRtg"]
player_df2 = player_df2[~pd.isnull(player_df2['DRtg'])] 
player_df2['DRtg'] = player_df2['DRtg'].map(lambda x: int(x))
player_df2 = pd.DataFrame(player_df2.groupby('Player')['DRtg'].mean())
player_df2["Player"] = player_df2.index
player_df2 = player_df2.reset_index(drop=True)
player_df2.head()

   DRtg          Player
0   109    Aaron Brooks
1   105    Aaron Gordon
2   103  Aaron Harrison
3   108   Adreian Payne
4   101      Al Horford