### Data Cleanning

In [106]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("white")

import time
import timeit

import scipy.stats 
import pandas as pd
import pymc as pm

In [107]:
# This function is to conver the string into int
def Str2float(string):
    try:
        return float(string)
    except:
        return "NaN"

In [3]:
#import 2011
game11_df = pd.read_csv('10-11game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game11_df['Year'] = 2011
game11_df['PTS'] = game11_df['PTS'].map(lambda x: Str2float(x))
game11_df['PTS'] = game11_df['PTS.1'].map(lambda x: Str2float(x))
game11_df = game11_df[game11_df['PTS'].map(lambda x: type(x) is float)]

In [109]:
game11_df.head()

     Visitor/Neutral  PTS            Home/Neutral PTS.1  Year
1         Miami Heat   88          Boston Celtics    88  2011
2    Houston Rockets  112      Los Angeles Lakers   112  2011
3       Phoenix Suns  106  Portland Trail Blazers   106  2011
4     Boston Celtics   95     Cleveland Cavaliers    95  2011
5  Charlotte Bobcats  101        Dallas Mavericks   101  2011

In [110]:
#import 2012
game12_df = pd.read_csv('11-12game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game12_df['Year'] = 2012
game12_df['PTS'] = game12_df['PTS'].map(lambda x: Str2float(x))
game12_df['PTS'] = game12_df['PTS.1'].map(lambda x: Str2float(x))
game12_df = game12_df[game12_df['PTS'].map(lambda x: type(x) is float)]

In [112]:
game12_df.head()

        Visitor/Neutral  PTS           Home/Neutral PTS.1  Year
1            Miami Heat   94       Dallas Mavericks    94  2012
2  Los Angeles Clippers   86  Golden State Warriors    86  2012
3         Chicago Bulls   87     Los Angeles Lakers    87  2012
4        Boston Celtics  106        New York Knicks   106  2012
5         Orlando Magic   97  Oklahoma City Thunder    97  2012

In [113]:
#import 2013
game13_df = pd.read_csv('12-13game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game13_df['Year'] = 2013
game13_df['PTS'] = game13_df['PTS'].map(lambda x: Str2float(x))
game13_df['PTS'] = game13_df['PTS.1'].map(lambda x: Str2float(x))
game13_df = game13_df[game13_df['PTS'].map(lambda x: type(x) is float)]

In [114]:
game13_df.head()

      Visitor/Neutral  PTS         Home/Neutral PTS.1  Year
1  Washington Wizards   94  Cleveland Cavaliers    94  2013
2    Dallas Mavericks   91   Los Angeles Lakers    91  2013
3      Boston Celtics  120           Miami Heat   120  2013
4    Sacramento Kings   93        Chicago Bulls    93  2013
5     Houston Rockets   96      Detroit Pistons    96  2013

In [115]:
#import 2014
game14_df = pd.read_csv('13-14game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game14_df['Year'] = 2014
game14_df['PTS'] = game14_df['PTS'].map(lambda x: Str2float(x))
game14_df['PTS'] = game14_df['PTS.1'].map(lambda x: Str2float(x))
game14_df = game14_df[game14_df['PTS'].map(lambda x: type(x) is float)]

In [116]:
game14_df.head()

        Visitor/Neutral  PTS         Home/Neutral PTS.1  Year
1         Orlando Magic   97       Indiana Pacers    97  2014
2  Los Angeles Clippers  116   Los Angeles Lakers   116  2014
3         Chicago Bulls  107           Miami Heat   107  2014
4         Brooklyn Nets   98  Cleveland Cavaliers    98  2014
5         Atlanta Hawks  118     Dallas Mavericks   118  2014

In [117]:
#import 2015
game15_df = pd.read_csv('14-15game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game15_df['Year'] = 2015
game15_df['PTS'] = game15_df['PTS'].map(lambda x: Str2float(x))
game15_df['PTS'] = game15_df['PTS.1'].map(lambda x: Str2float(x))
game15_df = game15_df[game15_df['PTS'].map(lambda x: type(x) is float)]

In [118]:
game15_df.head()

    Visitor/Neutral  PTS          Home/Neutral PTS.1  Year
1   Houston Rockets   90    Los Angeles Lakers    90  2015
2     Orlando Magic  101  New Orleans Pelicans   101  2015
3  Dallas Mavericks  101     San Antonio Spurs   101  2015
4     Brooklyn Nets  121        Boston Celtics   121  2015
5   Milwaukee Bucks  108     Charlotte Hornets   108  2015

In [121]:
game16_df = pd.read_csv('15-16game_stats.csv')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 9

In [119]:
#import 2016
game16_df = pd.read_csv('15-16game_stats.csv')[["Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
game16_df['Year'] = 2016
game16_df['PTS'] = game16_df['PTS'].map(lambda x: Str2float(x))
game16_df['PTS'] = game16_df['PTS.1'].map(lambda x: Str2float(x))
game16_df = game16_df[game16_df['PTS'].map(lambda x: type(x) is float)]

CParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 9

In [ ]:
#import name and their teams 
playerTeam_df = pd.read_csv('salary.csv', header = 1)[['Player','Tm']]
playerTeam_df = playerTeam_df[playerTeam_df['Tm'] != 'Tm']
playerTeam_df = playerTeam_df[playerTeam_df['Player'] != 'Player']
playerTeam_df = playerTeam_df[~pd.isnull(playerTeam_df['Player'])]